.header
    padding: 10px 65px
    position: fixed
    left: 50%
    transform: translateX(-50%)
    width: 100%
    max-width: 2110px
    top: 0
    display: flex
    align-items: center
    justify-content: space-between
    z-index: 10
    color: rgba(255, 255, 255, 0.7)
    &__left 
        display: flex
        align-items: center
    &__burg
        width: 30px
        height: 17px
        display: none
        flex-direction: column
        justify-content: space-between
        margin-right: 22px
        cursor: pointer
        span 
            height: 1px
            width: 100%
            display: block
            background-color: #fff
    &__logo 
        width: 260px
        img 
            width: 100%
            height: auto
    &__menu
        display: flex
        align-items: center
        gap: 20px
        &-item 
            transition: 0.3s all
            &.active, &:hover 
                color: $theme-color
    &__right
        display: flex
        align-items: center
    &__lang
        margin-left: 40px
        display: flex
        align-items: center
        span 
            margin-right: 10px