.projects 
    &__meha
        .circle1
            background: rgba(41, 165, 213, 0.5)
            top: -35.36%
            right: -25.43%
        .circle2
            left: -16.81%
            top: 14.07%
            background: rgba(223, 25, 132, 0.46)
        .circle3
            left: -16.81%
            top: 100%
            background: rgba(25, 223, 223, 0.46)
        .meha_text
            position: absolute
            width: 58.84%
            left: 5.49%
            top: 7.09%
        .meha_image
            position: absolute
            height: 100%
            right: 0
            bottom: 0