.text
    &_fw400
        font-weight: 400
    &_fw600
        font-weight: 600
    &_fw700
        font-weight: 700
    &_white
        color: #fff
    &_white-1 
        color: #E2F0F8
    &_green
        color: $theme-color
    &_ffMont, &_ffMont *
        font-family: 'Montserrat', 'Russo', sans-serif
    &_ffHelv, &_ffHelv *
        font-family: 'Helvetica', 'Russo', sans-serif
    &_ffCorm, &_ffCorm *
        font-family: 'Cormorant', 'Russo', sans-serif
    &_ffDKK, &_ffDKK *
        font-family: 'DKKnuckle', 'Russo', sans-serif
    &_fz12
        font-size: 12px
        line-height: 100%
    &_fz14
        font-size: 14px
        line-height: 22px
    &_fz16
        font-size: 16px
        line-height: 24px
    &_fz16-1
        font-size: 16px
        line-height: 100%
    &_fz18 
        font-size: 18px
        line-height: 27px
    &_fz20 
        font-size: 20px
        line-height: 32px
    &_fz24
        font-size: 24px
        line-height: 38px
    &_upper
        text-transform: uppercase
    &_ls005
        letter-spacing: 0.05em
    &_ls01
        letter-spacing: 0.1em
    &_ls45
        letter-spacing: 4.5px
    &_center 
        text-align: center
.title
    &_fz20 
        font-size: 20px
        line-height: 38px
    &_fz30
        font-size: 30px
        line-height: 38px
    &_fz40 
        font-size: 40px
        line-height: 48px
    &_fz48
        font-size: 48px
        line-height: 60px
    &_fz60
        font-size: 60px
        line-height: 70px
    &_fz60-1
        font-size: 60px
        line-height: 90px
body, .modal 
    background: #131925
    padding: 100px 2.6% 2.6%
.button
    background: none
    border: none
    cursor: pointer
    display: inline-block
    &_green
        background: $theme-color
        padding: 21px 25px
        color: #3c4d00
        text-shadow: -0.3px 0 #3c4d00, 0 0.3px #3c4d00, 0.3px 0 #3c4d00, 0 -0.3px #3c4d00
    &_border
        color: #CCCC00
        padding: 30px 64px
        position: relative
        &::before, &::after
            content: ''
            position: absolute
            display: block
            width: 1px
            height: 100%
            top: 0
            background: linear-gradient(to top, #fff 26.31%, transparent 26.31% 73.69%, #fff 73.69% 100%)
        &::before
            left: 0
        &::after
            right: 0
        .top, .bott
            position: absolute
            height: 1px 
            left: 0
            width: 100%
            background: linear-gradient(to right, #fff 7.11%, transparent 7.11% 92.89%, #fff 92.89% 100%)
        .top
            top: 0
        .bott
            bottom: 0
.svg
    pointer-events: none
.text-field
    &_width
        max-width: 860px
.subtitle
    margin-top: 50px
.circle
    position: absolute
    -webkit-filter: blur(250px)
    filter: blur(250px)
    transform: translate3d(0, 0, 0)
    border-radius: 100% 
    &_810
        width: 810px
        height: 810px
    &_915
        width: 915px
        height: 915px
    &_944
        width: 944px
        height: 944px
    &_1000
        width: 1000px
        height: 1000px
    &_1126
        width: 1126px
        height: 1126px
    &_1507
        width: 1507px
        height: 1507px
    &_1272
        width: 1272px
        height: 1272px
.wrap
    &_p100
        padding: 5.49%
    &_left
        padding-left: 50px
        display: flex
    &_right
        padding-right: 50px
        display: flex
        justify-content: flex-end
    &_center
        align-items: center
.wrapper
    position: absolute
    top: 0
    left: 0
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    overflow: hidden
    padding: 100px 0px 2.6%
main.slider-page
    height: 100%