@font-face
    font-family: 'Helvetica'
    src: url('../fonts/Helvetica/HelveticaNeueCyr-Roman.eot')
    src: url('../fonts/Helvetica/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/Helvetica/HelveticaNeueCyr-Roman.ttf') format('truetype')
    font-weight: 400
    font-display: swap
    font-style: normal

@font-face
    font-family: 'Montserrat'
    src: url('../fonts/Montserrat/Montserrat-Regular.eot')
    src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype')
    font-weight: 400
    font-display: swap
    font-style: normal
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/Montserrat/Montserrat-SemiBold.eot')
    src: url('../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype')
    font-weight: 600
    font-display: swap
    font-style: normal
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot')
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype')
    font-weight: 700
    font-display: swap
    font-style: normal

@font-face
    font-family: 'Russo'
    src: url('../fonts/Russo/RussoOne-Regular.eot')
    src: url('../fonts/Russo/RussoOne-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Russo/RussoOne-Regular.woff') format('woff'),
    url('../fonts/Russo/RussoOne-Regular.ttf') format('truetype')
    font-weight: 400
    font-display: swap
    font-style: normal

@font-face
    font-family: 'Cormorant'
    src: url('../fonts/Cormorant/CormorantSC-Bold.eot')
    src: url('../fonts/Cormorant/CormorantSC-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant/CormorantSC-Bold.woff') format('woff'),
    url('../fonts/Cormorant/CormorantSC-Bold.ttf') format('truetype')
    font-weight: 700
    font-display: swap
    font-style: normal

@font-face 
    font-family: 'DKKnuckle'
    src:url('../fonts/DKKnuckle/dkknucklebonesrusbylyajka.otf')
    font-weight: 400
    font-style: normal
    font-display: swap