@media (min-width: 2200px) 
    .text
        &_fz12 
            font-size: 17px
        &_fz14 
            font-size: 18px
            line-height: 26px
        &_fz16
            font-size: 20px
            line-height: 28px
        &_fz16-1
            font-size: 20px
        &_fz18 
            font-size: 22px
            line-height: 31px
        &_fz20 
            font-size: 24px
            line-height: 36px
        &_fz24
            font-size: 30px
            line-height: 44px
    .title
        &_fz30
            font-size: 40px
            line-height: 48px
        &_fz40 
            font-size: 50px
            line-height: 58px
        &_fz48
            font-size: 58px
            line-height: 70px
        &_fz60
            font-size: 80px
            line-height: 90px
        &_fz60-1
            font-size: 80px
            line-height: 110px
    .circle
        &_810
            width: 910px
            height: 910px
        &_915
            width: 1015px
            height: 1015px
        &_944
            width: 1044px
            height: 1044px
        &_1000
            width: 1100px
            height: 1100px
        &_1126
            width: 1226px
            height: 1226px
    .text-field
        &_width
            max-width: 1005px
    .wrap
        &_left 
            padding-left: 90px
        &_right 
            padding-right: 80px
    .modal
        #message 
            .wrap
                &.success
                    .line
                        width: 600px
            form 
                padding: 65px
                width: 592px
                .form_block
                    margin-top: 33px
                    &.checkbox
                        span 
                            width: 30px
                            height: 30px
                button 
                    margin: 35px 0px
    .main 
        &__page
            max-width: 2240px
            left: 50%
            transform: translateX(-50%) translateY(150px)
            &.active
                transform: translateX(-50%) translateY(0)
        .page
            &__promo 
                .subtitle
                    margin: 50px 0px
            &__proc 
                .wrap
                    padding: 35px 80px 50px 155px
                &-step
                    &:nth-child(1)
                        svg, .svg 
                            width: 385px
                    &:nth-child(2)
                        svg, .svg 
                            width: 341px
                    &:nth-child(3)
                        svg, .svg 
                            width: 301px
                    &:nth-child(4)
                        svg, .svg 
                            width: 400px
                    &:nth-child(5)
                        svg, .svg 
                            width: 330px
            &__cross 
                .main__page-text
                    max-width: 880px
            &__mobile
                svg, .svg
                    height: 48.19%
            &__mark
                svg, .svg
                    right: 3.01%
                    height: 56.87%
    .projects
        &__sun 
            .sun
                &_text 
                    .title
                        font-size: 127px
                        line-height: 136px
                    .descr
                        width: 719px
        &__fit 
            .descr
                width: 550px
        &__npopis 
            .descr
                width: 760px
            .npopis
                &_image 
                    height: 94%
                    bottom: -25px
        &__bim
            .bim
                &_image 
                    width: 54%
                &_logo 
                    width: 55%
            .descr
                width: 740px
        &__galant 
            .galant
                &_image 
                    width: 85%
                    bottom: -75px
                    right: 80px
@media (max-width: 1770px) 
    .main 
        .page
            &__mobile 
                svg, .svg 
                    left: 3%
                    height: 49%
            &__mark 
                svg, .svg 
                    height: 58%
                    right: 3%
            &__proc 
                .wrap
                    padding: 35px 2.74% 50px 5%
                &-steps 
                    left: 5%
@media (max-width: 1760px), (max-height: 1000px)
    .main .page__news .blocks__item .new-news .prev
        width: 150px
    body, .modal 
        padding: 90px 2.5% 2.6%
    .wrapper
        padding: 90px 0px 2.6%
    .text
        &_fz16
            font-size: 14px
            line-height: 22px
        &_fz16-1
            font-size: 14px
        &_fz20 
            font-size: 19px
            line-height: 29px
        &_fz24
            font-size: 21px
            line-height: 35px
    .main .page__news .detail
        padding-top: 44px
    .main .page__news .detail h3
        margin-left: 66px
    .title
        &_fz30
            font-size: 24px
            line-height: 32px
        &_fz40 
            font-size: 30px
            line-height: 38px
        &_fz48
            font-size: 38px
            line-height: 50px
        &_fz60
            font-size: 48px
            line-height: 58px
        &_fz60-1
            font-size: 48px
            line-height: 78px
    .text-field_width
        max-width: 750px
    .subtitle
        margin-top: 27px
    .button
        &_green
            padding: 15px
        &_border 
            padding: 23px 53px
    .header
        &__lang 
            margin-left: 28px
        &__logo 
            width: 205px
    .modal
        &__close 
            padding: 22px
            top: 4px
            right: 4px
            border: 13px solid rgba(19, 25, 37, 0.2)
            &:hover 
                border: 13px solid rgba(19, 25, 37, 0.7)
        #message
            .wrap
                padding-top: 59px
                &.success
                    .succ_text
                        margin-top: 21px
            .line
                margin-top: 18px
                width: 453px !important
            form 
                padding: 35px
                width: 395px
                button 
                    margin: 25px 0px
                .form_block
                    &.label-top
                        margin-top: 17px
                        &.active
                            label 
                                bottom: 81%
    .main
        &__dots 
            right: 18px
            &-item 
                width: 18px
                height: 18px
        .page
            &__promo 
                .subtitle
                    margin: 25px 0px
            &__cross 
                .main__page-text
                    max-width: 657px
            &__news 
                .wrap
                    padding: 20px 4% 44px
                .blocks
                    &__item 
                        padding: 44px 0px 0px 47px
                        &-number 
                            font-size: 80px
                            line-height: 90px
            &__proc 
                .wrap 
                    .gray_logo
                        bottom: 64px
                &-step
                    span 
                        left: 60px
                    &-number 
                        font-size: 80px
                        line-height: 90px
                    &:nth-child(1)
                        svg, .svg 
                            width: 300px
                    &:nth-child(2)
                        svg, .svg 
                            width: 237px
                    &:nth-child(3)
                        svg, .svg 
                            width: 221px
                    &:nth-child(4)
                        svg, .svg 
                            width: 280px
                    &:nth-child(5)
                        svg, .svg 
                            width: 230px
    .projects
        &__meha 
            .meha_image
                max-width: 91%
            .bott 
                left: 11%
                bottom: 8%
                .title
                    font-size: 35px
                    line-height: 40px
                .meha_logo 
                    width: 143px
                .undertitle
                    margin-left: 37px
                .link
                    margin-top: 40px
        &__sun 
            .sun
                &_image 
                    height: 90%
                &_text 
                    .descr
                        width: 570px
                    .title
                        font-size: 92px
                        line-height: 101px
        &__fit 
            .fit
                &_title 
                    font-size: 72px
                    line-height: 93px
                &_image 
                    height: 83%
        &__npopis
            .npopis
                &_image 
                    bottom: -32px
                &_title 
                    font-size: 77px
                    line-height: 88px
                    margin: 23px 0px
        &__bim 
            .descr
                width: 552px
            .bim
                &_logo 
                    width: 56%
                &_image 
                    width: 56%
                &_full-logo
                    width: 500px
                    margin: 50px 0px
        &__galant 
            .descr
                width: 630px
            .wrap
                padding-top: 4vh
            .galant
                &_logo 
                    width: 700px
                    margin: 20px 0px
                &_image 
                    //width: 87%
                    width: auto
                    height: 70%
                    transform: translateX(50%) !important
                    bottom: 1%
                    //right: 64px
                    right: 50%
                    max-width: 2137px
                    object-fit: contain
@media (max-width: 1600px), (max-height: 800px) 
    body, .modal 
        padding: 90px 1.5% 1.6%
    .wrapper
        padding: 90px 0px 1.6%
    .header
        padding: 10px 40px
    .main 
        .page
            &__news 
                .detail 
                    h3
                        margin-left: 20px
                    h4
                        margin: 12px 0px
    .circle
        &_810
            width: 710px
            height: 710px
        &_915
            width: 815px
            height: 815px
        &_944
            width: 844px
            height: 844px
        &_1000
            width: 900px
            height: 900px
        &_1126
            width: 1026px
            height: 1026px
        &_1507
            width: 1207px
            height: 1207px
        &_1272
            width: 1072px
            height: 1072px
    .projects
        &__bim 
            .bim 
                &_image
                    width: auto
                    height: 55%
                    max-width: 57%
                    object-fit: contain
        &__galant 
            .galant
                &_image 
                    max-width: 1941px
                    bottom: 3%
@media (max-width: 1400px), (max-height: 770px) 
    body, .modal 
        padding: 80px 1.5% 1.5%
    .wrapper
        padding: 80px 0px 1.5%
    .text
        &_fz14 
            font-size: 12px
            line-height: 20px
        &_fz18 
            font-size: 15px
            line-height: 22px
        &_fz20 
            font-size: 16px
            line-height: 19px
        &_fz24 
            font-size: 18px
            line-height: 33px
    .title
        &_fz60 
            font-size: 38px
            line-height: 50px
        &_fz60-1 
            font-size: 38px
            line-height: 50px
        &_fz30 
            font-size: 22px
            line-height: 28px
    .wrap 
        &_p100 
            padding: 4%
    .text-field_width
        max-width: 627px
    .modal
        #message
            .line
                margin-top: 11px
                width: 371px !important
            .wrap
                &.success
                    .succ_text
                        margin-top: 13px
    .header
        &__logo 
            width: 180px
        &__menu
            gap: 14px
        &__lang 
            margin-left: 15px
            span 
                margin-right: 6px
    .page__like 
        .wrap 
            padding: 21px 43px
    .main
        .page
            &__cross 
                .main__page-text
                    max-width: 500px
            &__news 
                .detail 
                    padding-top: 16px
                    .cont_block
                        margin-top: 0
                    p
                        margin-bottom: 5px
                    h4
                        n: 8px 0px
                    .text_cont
                        width: 78%
                    .prev
                        width: 20%
                    .blocks__item-number
                        display: none
                .blocks
                    &__item 
                        .new-news 
                            .prev
                                width: 148px
                        &-number 
                            font-size: 72px
                            line-height: 82px
                        &-undertitle 
                            margin-top: 13px
    .projects
        &__meha 
            .meha_image
                max-width: 91%
            .bott
                .title
                    font-size: 28px
                    line-height: 31px
                .undertitle
                    margin-left: 23px
                .meha_logo 
                    width: 114px
            .top 
                left: 4%
                top: 6%
                .title 
                    margin-top: 22px
                .meha
                    &_text 
                        width: 50%
        &__sun 
            .sun
                &_text 
                    .descr
                        width: 470px
                    .title 
                        font-size: 76px
                        line-height: 88px
                &_title 
                    margin-top: 37px
        &__fit 
            .descr
                width: 352px
            .fit
                &_title 
                    font-size: 58px
                    line-height: 72px
                    margin: 60px 0px 15px
        &__npopis 
            .descr
                width: 598px
            .npopis
                &_title 
                    font-size: 67px
                    line-height: 75px
                    margin: 20px 0px
        &__bim 
            .descr
                width: 452px
            .bim
                &_full-logo
                    width: 350px
                    margin: 37px 0px
                &_logo 
                    width: 51%
                &_image
                    //width: 49%
                    max-width: 58%
        &__galant
            .wrap
                //padding-top: 32px
                padding-top: 4vh
            .descr
                width: 530px
            .galant
                &_image 
                    max-width: 1735px
                &_logo
                    width: 650px 
@media (max-width: 1260px) 
    .main .page__news .blocks__item .new-news .prev
        width: 125px
    .main .page__news .detail h3
        margin-left: 0
    .main .page__news .detail .prev
        display: none
    .main .page__news .detail .text_cont
        width: 100%
    .mobile-menu
        display: flex
    .text
        &_fz12 
            font-size: 10px
        &_fz16
            font-size: 13px
            line-height: 21px
        &_fz16-1
            font-size: 13px
        &_fz24
            font-size: 16px
            line-height: 23px
    .title
        &_fz20
            font-size: 18px
            line-height: 27px
        &_fz30
            font-size: 18px
            line-height: 22px
        &_fz40 
            font-size: 23px
            line-height: 31px
        &_fz48
            font-size: 31px
            line-height: 41px
        &_fz60, &_fz60-1
            font-size: 33px
            line-height: 42px
    .button
        &_border
            padding: 18px 42px 
    .subtitle
        margin-top: 16px
    .text-field_width
        max-width: 440px
    .circle
        &_810
            width: 610px
            height: 610px
        &_915
            width: 715px
            height: 715px
        &_944
            width: 744px
            height: 744px
        &_1000
            width: 800px
            height: 800px
        &_1126
            width: 926px
            height: 926px
        &_1507
            width: 1007px
            height: 1007px
        &_1272
            width: 1072px
            height: 1072px
    .modal
        &__close 
            padding: 16px
            top: 7px
            right: 5px
            border: 11px solid rgba(19,25,37,.2)
            &:hover 
                border: 11px solid rgba(19,25,37,.7)
        #message
            .wrap
                padding-top: 34px
            form 
                padding: 24px
                width: 320px
                input, textarea
                    height: 26px
                textarea
                    height: 72px
                button 
                    margin: 16px 0px
                .form_block
                    &.checkbox
                        span 
                            width: 17px
                            height: 17px
    .header
        &__menu 
            display: none
        &__burg
            display: flex
    .page__like
        .bottom
            div
                gap: 23px
    .main
        &__dots 
            right: 11px
            &-item 
                width: 14px
                height: 14px
                padding: 1px
        .page
            &__promo 
                .subtitle
                    margin: 22px 0px
                svg, .svg 
                    height: 66%
            &__cross 
                .main__page-text
                    max-width: 400px
                svg, .svg 
                    height: 60%
                    top: 20%
                    right: 2%
            &__mobile
                svg, .svg 
                    left: 1%
                    height: 47%
            &__mark 
                svg, .svg 
                    height: 56%
                    right: 3%
                    top: 32%
            &__news 
                .blocks
                    gap: 21px
                    &__item 
                        padding: 37px 0px 0px 36px
                        &-number 
                            font-size: 68px
                            line-height: 80px
            &__proc 
                .wrap
                    padding: 53px 3% 33px
                &-steps
                    left: 5%
                    width: 42%
                    height: 78%
                &-step
                    span 
                        left: 44px
                        bottom: 12px 
                    svg, .svg 
                        display: none
                .wrap
                    .main__page-text
                        margin-top: 125px
                    .gray_logo
                        width: 45%
                        right: 16px
                        bottom: 11px
    .main__page.static
        margin-bottom: 30px
    .news
        .pred
            margin: 30px 0px
        &__promo 
            padding: 53px
        &__main 
            padding: 40px
            h3 
                margin: 70px 0px 20px
            .dash_block
                margin-bottom: 34px
                padding-left: 20px
            .bread
                margin-bottom: 49px
            .text_block
                margin-bottom: 38px
                p 
                    margin-bottom: 20px
            .img_block
                margin: 38px 0px
                height: 450px
                padding: 40px
    .projects
        .link
            span 
                margin-bottom: 4px
        &__meha 
            .bott
                .descr
                    margin-top: 8px
                .link
                    margin-top: 26px
                .title
                    font-size: 23px
                    line-height: 24px
                .undertitle
                    margin-left: 17px
                .meha
                    &_logo 
                        width: 102px
            .meha
                &_image 
                    //max-width: 903px
                    max-width: 94%
                    object-fit: contain
                    height: 88%
                    right: -20px
                    bottom: 10%
        &__sun 
            .sun
                &_image 
                    left: unset
                    right: 0
                &_title 
                    margin-top: 5px
                &_text 
                    .title
                        font-size: 59px
                        line-height: 61px
        &__fit 
            .fit
                &_image 
                    height: 75%
                    right: 0
                &_title 
                    font-size: 48px
                    line-height: 50px
        &__npopis
            .wrap
                padding-top: 10vh
            .npopis
                &_image 
                    bottom: 0
                    max-width: 1329px
                    object-fit: contain
                &_title 
                    font-size: 57px
                    line-height: 60px
        &__bim 
            .descr
                width: 400px
            .bim
                &_image 
                    //width: 58%
                    bottom: 7%
                    left: 15px
                &_logo 
                    width: 46%
                    top: 7%
                    left: 30px
                &_full-logo
                    margin: 26px 0px
        &__galant 
            .wrap
                padding-top: 10vh
            .galant
                &_logo 
                    width: 550px
                    margin: 16px 0px
                &_image 
                    //width: 95%
                    width: auto
                    bottom: -4px
                    height: 66%
                    right: 50%
                    transform: translateX(50%) !important
                    max-width: 1404px
                    object-fit: contain
@media (max-width: 1260px) and (min-height: 950px) 
    .projects
        &__bim 
            .bim
                &_image 
                    max-width: 77%
@media (max-width: 1260px) and (max-height: 630px) 
    .projects
        &__galant 
            .galant 
                &_image 
                    bottom: -37px
@media (max-width: 992px)
    body, .modal 
        padding: 58px 1.5% 1.5%
    .wrapper
        padding: 58px 0px 1.5%
    .new-news-cont h2 
        font-size: 19px
        line-height: 20px
    .button
        &_green 
            padding: 11px
    .circle
        &_810
            width: 410px
            height: 410px
        &_915
            width: 515px
            height: 515px
        &_944
            width: 544px
            height: 544px
        &_1000
            width: 600px
            height: 600px
        &_1126
            width: 826px
            height: 826px
        &_1507
            width: 907px
            height: 907px
        &_1272
            width: 972px
            height: 972px
    .modal
        #message
            .back
                left: -88px
                top: 71px
                width: auto
                height: 90%
                max-width: 100%
    .header
        padding: 5px 29px
        &__logo 
            width: 148px
        &__burg 
            margin-right: 11px 
    .page__like 
        .bottom
            flex-wrap: wrap
            justify-content: center
            gap: 10px 25px
            div 
                gap: 25px
    .text
        &_fz18, &_fz20 
            font-size: 13px
            line-height: 18px
    .title
        &_fz48
            font-size: 26px
            line-height: 35px
    .news__main .img_block
        margin: 30px 0px
        height: 400px
    .main .page__news .blocks__item .new-news .text-left
        width: 100%
    .main .page__news .blocks__item .new-news .prev
        width: 125px
        z-index: -1
        opacity: 0.3
    .main
        .page
            &__promo 
                .wrap
                    padding: 0px 15px
            &__design
                svg, .svg 
                    top: 60%
                    right: 6%
                    height: 69%
            &__brand
                svg, .svg 
                    left: -6%
                    top: 34%
                    height: 62%
            &__cross 
                svg, .svg 
                    height: 51%
                    top: 42%
                    right: 2%
            &__mobile 
                svg, .svg 
                    top: 70%
                    left: -10%
                    height: 47%
            &__mark
                svg, .svg 
                    height: 54%
                    right: -7%
                    top: 38%
            &__news 
                gap: 10px
            &__proc
                .wrap
                    padding: 33px 4% 33px
                    .gray_logo
                        width: 53%
                        right: 48px
                        bottom: 50px
                &-steps 
                    left: 4%
                    width: 38%
                    height: 88%
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                &-step 
                    position: relative
                    width: 100%
                    top: unset !important
                    left: 0 !important
                    bottom: unset !important
    .projects
        &__meha 
            .bott
                left: 16%
                .title
                    font-size: 20px
                    line-height: 24px
            .meha
                &_image 
                    height: 70%
                    //width: 88%
                    right: -13px
                    max-width: 903px
        &__sun 
            .wrap 
                flex-direction: column
                justify-content: flex-start
            .sun
                &_image 
                    //width: 96%
                    height: 80%
                    bottom: 11%
                    left: unset
                    right: -22px
                &_title 
                    margin-top: 0
                    margin-bottom: 15px
                &_text 
                    .title
                        font-size: 49px
                        line-height: 100%
                    .descr
                        width: 400px
        &__fit 
            .descr
                width: 285px
            .fit
                &_image 
                    right: -17px
                    height: 68%
                &_title 
                    font-size: 39px
                    line-height: 100%
        &__npopis 
            .wrap
                padding-top: 22vh
            .descr
                width: 500px
            .npopis
                &_title 
                    font-size: 54px
                    line-height: 100%
                    margin: 15px 0px
                &_image 
                    bottom: -6%
                    height: 85%
                    //width: 121%
        &__bim 
            .descr
                width: 300px
            .bim
                &_logo 
                    width: 43%
                    top: 7%
                    left: 25px
                &_text 
                    margin-top: 3%
                &_full-logo
                    margin: 20px 0px
                    width: 280px
                &_image
                    //width: 68%
                    width: auto
                    height: 50%
                    //max-height: 392px
                    max-width: 83%
                    bottom: -4%
                    left: -54px
        &__galant 
            .wrap
                padding-top: 12vh
            .descr
                width: 430px
            .galant
                &_logo 
                    width: 450px
                &_image 
                    //width: 106%
                    width: auto
                    height: 65%
                    max-height: 491px
                    bottom: 3%
                    //max-width: 1043px
                    max-width: 137%
@media (max-width: 992px) and (min-height: 850px)
    .projects
        &__bim 
            .bim
                &_image 
                    bottom: 6%
        &__galant 
            .galant
                &_image 
                    bottom: 15%
@media (max-width: 768px)
    body.fixed-base, body.fixed, .modal, html.fixed-base, html.fixed, .main
        // max-height: -webkit-fill-available
        // height: 100vh
        height: 100%
    .main .page__news .blocks__item .new-news .prev
        display: none
    .title
        &_fz40
            font-size: 21px
            line-height: 31px
        &_fz48
            font-size: 22px
            line-height: 33px
        &_fz60, &_fz60-1 
            font-size: 26px
            line-height: 35px
    .text-field_width
        max-width: 93%
    .subtitle
        margin-top: 12px
    .circle
        &_810
            width: 310px
            height: 310px
        &_915
            width: 415px
            height: 415px
        &_944
            width: 444px
            height: 444px
        &_1000
            width: 500px
            height: 500px
        &_1126
            width: 626px
            height: 626px
        &_1507
            width: 807px
            height: 807px
        &_1272
            width: 872px
            height: 872px
    .wrap
        &_center
            align-items: flex-start
            padding-top: 100px
        &_left
            padding-left: 22px
    .news__promo
        justify-content: center
        text-align: center
        padding: 33px
    .news__main .img_block 
        margin: 30px 0px
        height: 350px
        text-align: center
        justify-content: center
    .modal
        #message
            .back
                left: unset 
                right: 0
                top: 119px
                height: 71%
                max-width: unset
                max-height: unset
                object-fit: unset
            .wrap
                &.success
                    .succ_text
                        margin-top: 8px
                .line 
                    margin-top: 4px
                    width: 271px !important
                &_center 
                    align-items: center
            form 
                padding: 20px
                width: 305px
                border-radius: 30px
                .form_block
                    margin-top: 10px
    .main
        .page
            &__promo 
                svg, .svg 
                    height: 59%
            &__design
                svg, .svg 
                    top: 71%
                    right: 6%
                    height: 72%
            &__brand 
                svg, .svg 
                    left: -17%
                    top: 40%
                    height: 58%
            &__cross 
                .main__page-text
                    max-width: 93%
                svg, .svg 
                    height: 49%
                    top: 48%
                    right: 2%
            &__mobile 
                svg, .svg 
                    top: 77%
                    left: -12%
                    height: 44%
            &__mark 
                svg, .svg 
                    height: 46%
                    right: -7%
                    top: 57%
            &__news 
                .wrap
                    padding: 20px 6% 44px
                .blocks
                    gap: 10px 
                    grid-template: auto / repeat(1, 1fr)
                    &__item 
                        padding: 0
                        &-number 
                            display: none
                        &-content 
                            padding-bottom: 11px
            &__proc 
                .wrap
                    padding: 0px 4%
                    .gray_logo
                        width: 59%
                        right: 50%
                        transform: translateX(50%)
                        bottom: 37px
                &-step 
                    width: fit-content
                    height: fit-content
                    &-number 
                        font-size: 58px
                        line-height: 79px
                    span 
                        left: -24px
                        bottom: 8px
                &-steps 
                    left: 8%
                    width: 93%
                    height: auto
                    display: grid
                    gap: 10px
                    justify-content: unset
                    //top: 285px
                    top: 42%
                    grid-template: auto / repeat(3, 1fr)
    .projects
        .wrap
            &_p100 
                padding: 8vh 4%
        &__meha
            .top
                .meha_text
                    width: 332px
            .meha
                &_image 
                    bottom: 16%
        &__fit 
            .fit
                &_image 
                    bottom: 10%
                    height: 52%
        &__npopis 
            .npopis
                &_image 
                    bottom: 8%
                    opacity: 0.6 !important
        &__bim 
            .bim 
                &_full-logo
                    width: 200px
                    margin: 10px 0px
                &_image 
                    bottom: 1%
                    left: -200px
        &__galant 
            .galant
                &_image
                    height: 54%
                    transform: unset !important
                    bottom: 12%
                    right: -122px
                    max-width: 157%
@media (max-width: 768px) and (min-height: 800px) 
    .projects
        &__bim 
            .bim 
                &_image 
                    bottom: 3%
                    left: -100px
                    height: 61%
                    max-width: 96%
        &__galant 
            .galant
                &_image 
                    bottom: 20%
@media (max-width: 576px) 
    html 
        overflow-x: hidden
    body, .modal 
        padding: 49px 1.5% 1.5%
    .wrapper
        padding: 49px 0px 1.5%
    .mobile-menu
        padding: 9%
        &__list 
            height: 68%
            a 
                font-size: 20px
    .title
        &_fz30, &_fz20 
            font-size: 14px
            line-height: 19px
        &_fz40
            font-size: 16px
            line-height: 23px
        &_fz48
            font-size: 16px
            line-height: 22px
        &_fz60, &_fz60-1
            font-size: 19px
            line-height: 24px
    .text
        &_fz12 
            font-size: 9px
        &_fz16, &_fz16-1
            font-size: 11px
            line-height: 14px
        &_fz18, &_fz20 
            font-size: 12px
            line-height: 16px
        &_fz24 
            font-size: 13px
            line-height: 17px
    .news .pred img
        margin-left: 10px
    .button
        &_border 
            padding: 15px 30px
    .modal
        &__close 
            padding: 13px
            top: 8px 
            right: 7px
            border: 9px solid rgba(19,25,37,.2)
            &:hover
                border: 9px solid rgba(19,25,37,.7)
        #message
            .wrap 
                padding-top: 68px
            form 
                padding: 14px
                width: 90%
                max-width: 285px
            .back
                top: 302px
                height: 66%
    .wrap
        &_center  
            padding-top: 52px
    .header
        padding: 5px 15px
        &__burg 
            margin-right: 6px
            width: 24px
            height: 14px
        &__logo 
            width: 125px
        &__button 
            display: none
    .page__like 
        .wrap
            padding: 13px 10px
        .info 
            margin-top: 13px
            gap: 9px
            flex-direction: column
            a 
                img 
                    margin-right: 9px
    .news__promo, .news__main, .news__main .img_block
        padding: 20px
    .news__main .img_block
        height: 300px
    .main
        &__dots
            right: 3px
            gap: 9px
            &-item 
                width: 11px
                height: 11px
        .page
            &__design
                svg, .svg 
                    height: 61%
            &__brand
                svg, .svg 
                    top: 49%
                    left: -22%
                    height: 50%
            &__cross 
                svg, .svg 
                    height: 41%
                    top: 55%
                    right: -4%
            &__mark 
                svg, .svg 
                    height: 39%
                    right: -10%
                    top: 60%
            &__proc 
                .wrap
                    .main__page-text
                        margin-top: 71px
                &-step 
                    &-number
                        font-size: 46px
                        line-height: 79px
                    span 
                        left: -16px
                        bottom: 13px
                &-steps 
                    left: 15%
                    width: 90%
                    gap: 5px 
                    // top: 191px
                    top: 34%
                    grid-template: auto/repeat(2,1fr)
            &__news 
                .wrap
                    padding: 8px 4% 27px
                    h2 
                        font-size: 17px
                .blocks
                    &__item 
                        &-content
                            padding-bottom: 5px
                            &::after
                                height: 1px
                        &-undertitle
                            margin-top: 8px
    .projects
        &__meha 
            .top
                .meha_text
                    //width: 70%
                    width: 225px
                .title
                    margin-top: 10px
            .meha_image
                height: 62%
                bottom: 26%
            .bott
                left: 5%
                .meha_logo
                    display: none
                .title
                    font-size: 14px
                    line-height: 17px
                .undertitle
                    margin-left: 0
        &__sun
            .wrap
                padding-top: 15vh 
            .sun
                &_image 
                    height: 66%
                &_text 
                    .descr
                        width: 100%
                        max-width: 400px
                    .title
                        font-size: 34px
        &__fit
            .wrap
                padding-top: 10vh
            .link
                align-self: flex-end
                text-align: right
            .fit
                &_title 
                    font-size: 30px
                    margin: 20px 0px 10px
                &_image 
                    bottom: 0
                    right: 10px
                    height: 55%
        &__npopis 
            .wrap
                padding-top: 13vh
            .descr
                width: 100%
                max-width: 400px
            .npopis
                &_image 
                    opacity: 0.6 !important
                    bottom: 10%
                    height: 85%
                &_title 
                    font-size: 40px
                    margin: 10px 0px
        &__bim
            .descr
                width: 100%
                max-width: 400px
            .bim
                &_image
                    height: 43%
                    bottom: 10%
                    left: 0
                &_full-logo
                    width: 75%
                    margin: 11px 0px
        &__galant 
            .link
                text-align: center
                align-self: center
            .wrap
                padding-top: 12vh
            .descr
                width: 100%
                max-width: 387px
            .galant
                &_image 
                    bottom: 11%
                    right: -108px
                    height: 55%
                    max-width: unset
                &_logo 
                    width: 100%
                    max-width: 350px
                    margin: 13px 0px
@media (max-width: 400px)
    .mobile-menu
        width: 100%